<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./componentStyling/buttons.css">
    <link rel="stylesheet" href="./componentStyling/cards.css">
    <link rel="stylesheet" href="./componentStyling/textboxes.css">
    <link rel="stylesheet" href="./componentStyling/charts.css">
    <link rel="stylesheet" href="./componentStyling/loaders.css">
    <script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <title>Components</title>
</head>
<body>

    <div class='main-container'>

        <div class="main-container-dark">
          <label class='label1'>Dark</label>

            <!--buttons-->
            <label class='label2'>Buttons</label>
            <button class="button1-dark">Dark Button 1</button>
            <button class="button2-dark">Dark Button 2</button>
            <button class="button3-dark">Dark Button 3</button>
            <button class="button4-dark">Dark Button 4</button>
            <button class="button5-dark">Dark Button 5</button>
              <br>

            <!--textboxes-->
            <label class='label2'>TextBoxes</label>
            <input type="text" class="textbox1-dark"></input>
              <br>

            <!--cards-->
            <label class='label2'>Cards</label>
            <div class="card1-dark">This is a dark card1</div>
            <div class="card2-dark">This is a dark card2</div>
            <div class="card3-dark">
                <div class="icon-dark"></div>
                <div class="content-dark">
                    <h3>{title}</h3>
                    <p>This is a dark card3" width</p>
                </div>
            </div>
              <br>

            <!--loaders-->
            <label class='label2'>Loaders</label>
            <div class='loader1-container-dark'>
                <div class='ripple1'></div>
                <div class='ripple2'></div>
                <div class='ripple3'></div>
            </div>
              <br>

            <!--charts-->
            <!--Chart render cheyumbo "chart1-darkChart" idhilk aan cheya so size fixed ayit olla chart aan varane-->
            <label class='label2'>Charts</label>
            <div id="chart1-dark">
                <div id="chart1-darkChart"></div>
                <div id="chart1-dark-mask1">
                    <div id="chart1-dark-mask2">
                        <div class="chart1-darkChart-info" id="chart1-darkChart-info"></div>
                        <div class="chart1-darkChart-price" id="chart1-darkChart-price"></div>
                    </div>
                </div>
            </div>
            <div class='chart2-dark-container'>
                <div class="chart2-dark" style='height: 300px'>
                  <div class="chart2-dark-inner" style='height: 36%'></div>
                </div>
                36%
            </div>
              <br>


        </div>

        <div class="main-container-light">
          <label class='label1'>Light</label>

            <!--buttons-->
            <label class='label2'>Buttons</label>
            <button class="button1-light">Light Button 1</button>
            <button class="button2-light">Light Button 2</button>
            <button class="button3-light">Light Button 3</button>
            <button class="button4-light">Light Button 4</button>
            <button class="button5-light">Light Button 5</button>
              <br>

            <!--textboxes-->
            <label class='label2'>TextBoxes</label>
            <input type="text" class="textbox1-light"></input>
              <br>

            <!--cards-->
            <label class='label2'>Cards</label>
            <div class="card1-light">This is a light card1</div>
            <div class="card2-light">This is a light card2</div>
            <div class="card3-light">
                <div class="icon-light"></div>
                <div class="content-light">
                    <h3>title</h3>
                    <p>This is a light card3" width</p>
                </div>
            </div> 
              <br>

            <!--loaders-->
            <label class='label2'>Loaders</label>
            <div class='loader1-container-light'>
                <div class='ripple1'></div>
                <div class='ripple2'></div>
                <div class='ripple3'></div>
            </div>
              <br>

            <!--charts--> 
            <!--Chart render cheyumbo "chart1-lightChart" idhilk aan cheya so size fixed ayit olla chart aan varane-->
            <label class='label2'>Charts</label>
            <div id="chart1-light">
                <div id="chart1-lightChart"></div>
                <div id="chart1-light-mask1">
                    <div id="chart1-light-mask2">
                        <div class="chart1-lightChart-info" id="chart1-lightChart-info"></div>
                        <div class="chart1-lightChart-price" id="chart1-lightChart-price"></div>
                    </div>
                </div>
            </div>
            <div class='chart2-light-container'>
                <div class="chart2-light" style='height: 300px'>
                  <div class="chart2-light-inner" style='height: 50%'></div>
                </div>
                50%
            </div>
              <br>
              


        </div>

    </div>

    <!--div id="main-container">

        <div id="main-container-dark"-->

            <!--buttons-->
            <!--button class="button1-dark">Button</button>
            <button class="button2-dark">Button</button>
            <button class="button3-dark">Button</button>
            <button class="button4-dark">Button</button>
            <button class="button5-dark">Button</button-->

            <!--cards-->
            <!--div class="card1-dark"></div> 
            <div class="card2-dark"></div>
            <div class="card3-dark">
                <div class="icon-dark"></div>
                <div class="content-dark">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur </p>
                </div>
            </div-->

            <!--charts-->
            <!--div id="chart1-dark">
                <div id="chart1-darkChart"></div>
                <div id="chart1-dark-mask1">
                    <div id="chart1-dark-mask2">
                        <div class="chart1-darkChart-info" id="chart1-darkChart-info"></div>
                        <div class="chart1-darkChart-price" id="chart1-darkChart-price"></div>
                    </div>
                </div>
            </div>

        </div-->

        <!--div id="main-container-light"-->

            <!--buttons-->
            <!--button class="button1-light">Button</button>
            <button class="button2-light">Button</button>
            <button class="button3-light">Button</button>
            <button class="button4-light">Button</button-->

            <!--cards-->
            <!--div class="card1-light"></div> 
            <div class="card2-light"></div>
            <div class="card3-light">
                <div class="icon-light"></div>
                <div class="content-light">
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur </p>
                </div>
            </div-->

            <!--charts-->
            <!--div id="chart1-light">
                <div id="chart1-lightChart"></div>
                <div id="chart1-light-mask1">
                    <div id="chart1-light-mask2">
                        <div class="chart1-lightChart-info" id="chart1-lightChart-info"></div>
                        <div class="chart1-lightChart-price" id="chart1-lightChart-price"></div>
                    </div>
                </div>
            </div>

        </div>

    </div-->

</body>
<script src="script.js"></script>
</html>